body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 10vw;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 6vw;
}

.header-background {
  background-color: black;
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50vw 0%;
  height: 100vh;
}

.container {
  height: 100vh;
}

.section-container.headline {
  position: absolute;
  top: 30%;
  left: 5%;
  height: 60vh;
  width: 60vw;
}

.headline h1,
.headline h2,
.headline p {
    color: white;
}

.container.top {
  background-color: black;
}

.container.top h1,
.container.top h2,
.container.top p {
    color: white;
}

.container.middle {
    background-color: white;
}

.container.middle h1,
.container.middle h2,
.container.middle p {
    color: black;
}
